ul#menu li {
   display:inline;
}
.container {
   max-width: 500px;
   padding-top: 100px;
   padding: 2rem 0rem;
}
h2 {
   color: red;
}
h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
